__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
pytest-debug.log

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venvs/
venvs/*

checkpoint
*.ckpt
*.ckpt.*
*.pb
*.h5
*.hdf5
*.tflite
saved_model/

logs/
tensorboard_logs/
events.out.tfevents.*

.vscode/
*.nbconvert.ipynb
