# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
.pyenv/

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytest_cache/

.idea/

.vscode/

.mypy_cache/
.dmypy.json
dmypy.json




*.nbconvert.ipynb

*.log

.DS_Store
Thumbs.db

.env
.env.*

.dvc/
*.h5
*.ckpt
*.pt
*.pth
*.onnx
*.pb
*.joblib
*.sav

*.tmp
*.bak
*.swp
*~